body {
  background: #f9f9f9;
  font-family: 'Cairo', sans-serif;
  text-align: center;
  padding-top: 50px;
}

#popup {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: auto;
  font-size: 18px;
}
